
<section class="content-header">
  <h1>Create a New Consumer</h1>
</section>

<section class="content">
  <div class="box box-primary">
    <form [formGroup]="consumerForm" (ngSubmit)="onSubmit()">
      <div class="box-body">
        <div class="row">
          <div class="col-md-12 box-header">
            <h3 class="box-title section-title">Basic Details</h3>
            <hr class="section-title-line" >
          </div>
          <div class="col-md-6">
            <!-- ============ First Name ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.firstName.errors }">
              <label for="firstName">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="firstName"
                placeholder="First Name" />
              <span *ngIf="isSubmitted && f.firstName.errors" class="help-block">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </span>
            </div>
            <!-- ============ Last Name ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.lastName.errors }">
              <label for="lastName">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" id="lastName"
                placeholder="Last Name" />
              <span *ngIf="isSubmitted && f.lastName.errors" class="help-block">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </span>
            </div>
            <!-- ============ ITS Number ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.itsId.errors }">
              <label for="itsId">ITS Number</label>
              <input type="text" formControlName="itsId" class="form-control" id="itsId" placeholder="ITS Number" />
              <span *ngIf="isSubmitted && f.itsId.errors" class="help-block">
                <div *ngIf="f.itsId.errors.required">ITS Number is required.</div>
                <div *ngIf="f.itsId.errors.pattern">ITS Number must have 8 digits.</div>
              </span>
            </div>
            <!-- ============ Area ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.area.errors }">
              <label for="area">Area</label>
              <ng-select [items]="areas" [allowClear]="true" [active]="[areas[0]]" style="width: 100%;"
                placeholder="Select Area" formControlName="area"></ng-select>
              <span *ngIf="isSubmitted && f.area.errors" class="help-block">
                <div *ngIf="f.area.errors.required">Area is required.</div>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <!-- ============ Middle Name ============ -->
            <div class="form-group">
              <label for="middleName">Middle Name</label>
              <input type="text" formControlName="middleName" class="form-control" id="middleName"
                placeholder="Middle Name" />
            </div>
            <!-- ============ Mobile Number ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.mobileNumber.errors }">
              <label for="mobileNumber">Mobile Number</label>
              <input type="text" formControlName="mobileNumber" class="form-control" id="mobileNumber"
                placeholder="Mobile Number" />
              <span *ngIf="isSubmitted && f.mobileNumber.errors" class="help-block">
                <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
                <div *ngIf="f.mobileNumber.errors.pattern">Mobile Number must have 10 digits.</div>
              </span>
            </div>
            <!-- ============ Sabil Number ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.sabilNumber.errors }">
              <label for="sabilNumber">Sabil Number</label>
              <input type="text" formControlName="sabilNumber" class="form-control" id="sabilNumber"
                placeholder="Sabil Number" />
              <span *ngIf="isSubmitted && f.sabilNumber.errors" class="help-block">
                <div *ngIf="f.sabilNumber.errors.required">Sabil Number is required.</div>
                <div *ngIf="f.sabilNumber.errors.pattern">Sabil Number must have only digits.</div>
              </span>
            </div>
            <!-- ============ Address ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.address.errors }"
              style="margin-bottom: 28px;">
              <label for="address">Address</label>
              <textarea rows="4" formControlName="address" class="form-control" id="address"
                placeholder="Address"></textarea>
              <span *ngIf="isSubmitted && f.address.errors" class="help-block">
                <div *ngIf="f.address.errors.required">Address is required.</div>
                <div *ngIf="f.address.errors.pattern">Address must have only digits.</div>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 box-header">
            <h3 class="box-title section-title">FMB Details</h3>
            <hr class="section-title-line">
          </div>
          <div class="col-md-6">
            <!-- ============ Tiffin Size ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.tiffinSize.errors }">
              <label for="tiffinSize">Tiffin Size</label>
              <ng-select [items]="tiffinSizes" [allowClear]="true" style="width: 100%;" placeholder="Select Tiffin Size"
                formControlName="tiffinSize"></ng-select>
              <span *ngIf="isSubmitted && f.tiffinSize.errors" class="help-block">
                <div *ngIf="f.tiffinSize.errors.required">Tiffin Size is required.</div>
              </span>
            </div>
            <!-- ============ Delivery Man ============ -->
            <div class="form-group">
              <label for="deliveryManId">Delivery Man</label>
              <ng-select [items]="deliveryMen" [allowClear]="true" style="width: 100%;"
                placeholder="Select Delivery Man" formControlName="deliveryManId"></ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <!-- ============ Tiffin Rate ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.tiffinRate.errors }">
              <label for="tiffinRate">Tiffin Rate</label>
              <input type="text" formControlName="tiffinRate" class="form-control" id="tiffinRate"
                placeholder="Tiffin Rate" />
              <span *ngIf="isSubmitted && f.tiffinRate.errors" class="help-block">
                <div *ngIf="f.tiffinRate.errors.required">Tiffin Rate is required.</div>
                <div *ngIf="f.tiffinRate.errors.pattern">Tiffin Rate must have only Number.</div>
              </span>
            </div>
          </div>

        </div>
      </div>

      <div class="box-footer" style="text-align: center;">
        <button type="button" (click)="onReset()" class="btn btn-primary" style="margin-right: 5px;">
          <i class="fa fa-refresh" style="margin-right: 4px;"></i>Reset </button>
        <button type="submit" class="btn btn-success" [disabled]="disableSubmit">
          <i class="fa fa-send" style="margin-right: 4px;"></i>Submit</button>
      </div>
    </form>
  </div>
</section>