<section class="content-header">
  <h1>List Consumers</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <div class="box">
        <div class="box-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <table id="example1" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="row-border hover display stripe">
              <thead>
                <tr>
                  <th style="text-align: center;">Sr No.</th>
                  <th style="text-align: center;">Name</th>
                  <th style="text-align: center;">Middle Name</th>
                  <th style="text-align: center;">ITS Id</th>
                  <th style="text-align: center;">Sabil Number</th>
                  <th style="text-align: center;">Mobile Number</th>
                  <th style="text-align: center;">Area</th>
                  <th style="text-align: center;">Address</th>
                  <th style="text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of consumers; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ c.firstName }} {{c.lastName}}</td>
                  <td>{{ c.middleName }}</td>
                  <td>{{ c.itsId }}</td>
                  <td>{{ c.sabilNumber }}</td>
                  <td>{{ c.mobileNumber }}</td>
                  <td>{{ c.area }}</td>
                  <td>{{ c.address }}</td>
                  <td>
                    <button type="button" class="btn bg-navy btn-xs" (click)="updateConsumer(c.consumerId)"
                      style="margin-right: 5px;"><i class="fa fa-edit"></i></button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="deleteConsumer(c)"><i
                        class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
