<section class="content-header">
  <h1 *ngIf="storedConsumerAcc !=null">
    Account for {{storedConsumerAcc.consumer.firstName}} {{storedConsumerAcc.consumer.lastName}}
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="box-header" style="padding-left: 0px;">
            <h3 class="box-title section-title">Account Details</h3>
            <hr class="section-title-line">
          </div>
          <div class="row" *ngIf="storedConsumerAcc !=null">
            <div class="col-md-6">
              <!-- ============ ITS ID ============ -->
              <div>
                <label style="min-width: 150px;">
                  ITS ID:
                </label>
                <span>
                  <label style="font-weight: 500;">
                    {{storedConsumerAcc.consumer.itsId}}
                  </label>
                </span>
              </div>
              <!-- ============ Consumer Name ============ -->
              <div>
                <label style="min-width: 150px;">
                  Consumer:
                </label>
                <span>
                  <label style="font-weight: 500;">{{storedConsumerAcc.consumer.firstName}}
                    {{storedConsumerAcc.consumer.middleName}}
                    {{storedConsumerAcc.consumer.lastName}}</label>
                </span>
              </div>
              <!-- ============ Financial Year ============ -->
              <div>
                <label style="min-width: 150px;">
                  Financial Year:
                </label>
                <span>
                  <label style="font-weight: 500;">
                    {{storedConsumerAcc.year}}
                  </label>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <!-- ============ Sabil No. ============ -->
              <div>
                <label style="min-width: 150px;">
                  Sabil No.:
                </label>
                <span>
                  <label style="font-weight: 500;">
                    {{storedConsumerAcc.consumer.sabilNumber}}
                  </label>
                </span>
              </div>
              <!-- ============ Mobile No. ============ -->
              <div>
                <label style="min-width: 150px;">
                  Mobile No.:
                </label>
                <span>
                  <label style="font-weight: 500;">
                    {{storedConsumerAcc.consumer.mobileNumber}}
                  </label>
                </span>
              </div>
              <!-- ============ Total Amount Paid ============ -->
              <div>
                <label style="min-width: 150px;">
                  Total Amount Paid:
                </label>
                <span>
                  <label style="font-weight: 500;">
                    <i class="fa fa-rupee"></i>
                     {{storedConsumerAcc.amountPaid}} 
                  </label>
                </span>
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="box-header" style="padding-left: 0px;">
            <h3 class="box-title section-title">Receipts</h3>
            <hr class="section-title-line">
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align: center;">
              <div id="receiptList_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                <table id="receiptList" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="row-border hover display stripe">
                  <thead>
                    <tr>
                      <th style="text-align: center;">Sr No.</th>
                      <th style="text-align: center;">Receipt No.</th>
                      <th style="text-align: center;">Date</th>
                      <th style="text-align: center;">Amount</th>
                      <th style="text-align: center;">Payment Mode</th>
                      <th style="text-align: center;">Taken By</th>
                      <th style="text-align: center;">Remarks</th>
                      <th style="text-align: center;">Actions</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let r of receipts; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ r.receiptNumber}}</td>
                      <td>{{ r.date | date:shortDate}}</td>
                      <td>{{r.amount}}</td>
                      <td>{{ r.paymentMode }}</td>
                      <td>{{r.takenBy }}</td>
                      <td>{{ r.remarks }}</td>
                      <td>
                        <button type="button" class="btn bg-yellow btn-xs" (click)="printReceipt(r.receiptId)"
                        style="margin-right: 5px;"><i class="fa fa-print"></i></button>
                      <button type="button" class="btn bg-navy btn-xs" (click)="updateReceipt(r.receiptId)"
                        style="margin-right: 5px;"><i class="fa fa-edit"></i></button>
                      <button type="button" class="btn btn-danger btn-xs" (click)="deleteReceipt(r)"><i
                          class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>