<section class="content-header">
  <h1>Create a New Consumer Account</h1>
</section>

<section class="content">
  <div class="box box-primary">
    <form [formGroup]="consumerAccForm" (ngSubmit)="onSubmit()">
      <div class="box-body">
        <div class="row">
          <!-- <div class="col-md-12 box-header">
            <h3 class="box-title section-title">Basic Details</h3>
            <hr class="section-title-line" >
          </div> -->
          <div class="col-md-6">
            <!-- ============ Consumer ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.consumerId.errors }">
              <label for="consumerId">Consumer</label>
              <ng-select [items]="consumers" [allowClear]="true" style="width: 100%;" placeholder="Select Consumer"
                formControlName="consumerId"></ng-select>
              <span *ngIf="isSubmitted && f.consumerId.errors" class="help-block">
                <div *ngIf="f.consumerId.errors.required">Consumer is required.</div>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <!-- ============ Year ============ -->
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && f.year.errors }">
              <label for="year">Financial Year</label>
              <ng-select [items]="financialYears" [allowClear]="true" style="width: 100%;" placeholder="Select Financial Year"
                formControlName="year"></ng-select>
              <span *ngIf="isSubmitted && f.year.errors" class="help-block">
                <div *ngIf="f.year.errors.required">Financial Year is required.</div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer" style="text-align: center;">
        <button type="button" (click)="onReset()" class="btn btn-primary" style="margin-right: 5px;">
          <i class="fa fa-refresh" style="margin-right: 4px;"></i>Reset </button>
        <button type="submit" class="btn btn-success" [disabled]="disableSubmit">
          <i class="fa fa-send" style="margin-right: 4px;"></i>Submit</button>
      </div>
    </form>
  </div>
</section>