<section class="content-header">
  <h1>List Consumer Accounts</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-3 box-header" style="float:right">
              <form [formGroup]="yearFilterForm" (ngSubmit)="filterConsumerAccounts()">
                               
                <div class="input-group margin">
                  <ng-select [items]="financialYears" style="width: 100%;" placeholder="Select Financial Year"
                  formControlName="year"></ng-select>
                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-flat"><i
                          class="fa fa-filter"></i></button>
                      </span>
                </div>
              </form>
            </div>
            <div class="col-md-12">
              <hr class="section-title-line">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="consumerAcc_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    
                <table id="consumerAcc" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="row-border hover display stripe">
                  <thead>
                    <tr>
                      <th style="text-align: center;">Sr No.</th>
                      <th style="text-align: center;">ITS ID</th>
                      <th style="text-align: center;">Consumer Name</th>
                      <th style="text-align: center;">Financial Year</th>
                      <th style="text-align: center;">Amount Paid</th>
                      <th style="text-align: center;">Mobile Number</th>
                      <th style="text-align: center;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of consumerAccounts; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ c.consumer.itsId }}</td>
                      <td (click)="viewConsumerAcc(c.consumerAccountId)">
                        {{ c.consumer.firstName }} {{c.consumer.lastName}}</td>
                      <td>{{ c.year }}</td>
                      <td>{{ c.amountPaid }}</td>
                      <td>{{ c.consumer.mobileNumber }}</td>
                      <td>
                        <button type="button" class="btn bg-navy btn-xs" (click)="updateConsumerAcc(c.consumerAccountId)"
                          style="margin-right: 5px;"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="deleteConsumerAcc(c)"><i
                            class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
