<!-- head -->
<div style="text-align: center;">
  <img src="../../../assets/images/fmb-logo-red.png" alt="" style="height: 60px;">
  <!-- <h1>Faizul Mawaidil Burhaniyah</h1> -->
</div>
<br>
<br>
<div class="row" style="margin: 0px;">
  <!-- Receipt Number -->
  <div class="col-md-3" style="float: left;">
    <label style="margin-left: 5px;">Receipt Number:  </label> <span> {{receipt.receiptNumber}}</span>
  </div>
  <!-- Date on right corner -->
  <div class="col-md-3" style="float: right;">
    <label style="margin-left: 5px;">Date: </label> <span>  {{receipt.date | date:shortDate }}</span>
  </div>

</div>

<!-- Body simple paragrapgh containing information like
Consumer name
Amount
remarks
payment mode 
 -->
<div class="row" style="margin: 0px;">

  <div class="col-md-12" style="padding-left: 30px;">
    <p>
      <strong>{{receipt.consumerName}}</strong> has voluntarily contributed the amount of <strong>Rs.
        {{receipt.amount}}</strong> .
      <br> The payment was made through <strong>{{receipt.paymentMode}}</strong> .
    </p>
    <label style="margin-left: 5px;">Remarks: </label><span>  {{receipt.remarks}}</span>
  </div>

</div>

<!-- Footer Taken By signature -->
<div class="row" style="margin: 0px;">
  <div class="col-md-4" style="float: right;">
    <label>Collected By</label>
    <br>
    <em>{{receipt.takenBy}}</em>
  </div>
</div>
